BPEL/ForEachExample/UsuariosDireccionProcess/bpelContent/DireccionUsuario.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/DireccionUsuario/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DireccionUsuario" targetNamespace="http://www.example.org/DireccionUsuario/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/DireccionUsuario/" xmlns:Q1="http://www.example.org/commonSchema">
    <xsd:import schemaLocation="commonSchema.xsd" namespace="http://www.example.org/commonSchema"></xsd:import>
      <xsd:element name="getDir">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDirResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="direccion" type="tns:direccionTypeNoCanonical"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="direccionTypeNoCanonical">
      	<xsd:sequence>
      		<xsd:element name="calle" type="xsd:string"></xsd:element>
      		<xsd:element name="numero" type="xsd:string"></xsd:element>
      		<xsd:element name="prov" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>      
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getDirRequest">
    <wsdl:part element="tns:getDir" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getDirResponse">
    <wsdl:part element="tns:getDirResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="DireccionUsuario">
    <wsdl:operation name="getDir">
      <wsdl:input message="tns:getDirRequest"/>
      <wsdl:output message="tns:getDirResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DireccionUsuarioSOAP" type="tns:DireccionUsuario">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDir">
      <soap:operation soapAction="http://www.example.org/DireccionUsuario/getDir"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DireccionUsuario">
    <wsdl:port binding="tns:DireccionUsuarioSOAP" name="DireccionUsuarioSOAP">
      <soap:address location="http://localhost:8088/mockDireccionUsuarioSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
