BPEL/Introduccion_EquationBPELProcess/EquationBPELProcces/bpelContent/SquareService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://square.com.chakray" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://square.com.chakray">
    <wsdl:documentation>SquareService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://square.com.chakray">
            <xs:element name="square">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="squareResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="squareRequest">
        <wsdl:part name="parameters" element="ns:square"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="squareResponse">
        <wsdl:part name="parameters" element="ns:squareResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SquareServicePortType">
        <wsdl:operation name="square">
            <wsdl:input message="ns:squareRequest" wsaw:Action="urn:square"></wsdl:input>
            <wsdl:output message="ns:squareResponse" wsaw:Action="urn:squareResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SquareServiceSoap11Binding" type="ns:SquareServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="square">
            <soap:operation soapAction="urn:square" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SquareServiceSoap12Binding" type="ns:SquareServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="square">
            <soap12:operation soapAction="urn:square" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SquareServiceHttpBinding" type="ns:SquareServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="square">
            <http:operation location="square"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SquareService">
        <wsdl:port name="SquareServiceHttpsSoap11Endpoint" binding="ns:SquareServiceSoap11Binding">
            <soap:address location="https://10.0.0.112:9445/services/SquareService.SquareServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SquareServiceHttpSoap11Endpoint" binding="ns:SquareServiceSoap11Binding">
            <soap:address location="http://10.0.0.112:9765/services/SquareService.SquareServiceHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SquareServiceHttpSoap12Endpoint" binding="ns:SquareServiceSoap12Binding">
            <soap12:address location="http://10.0.0.112:9765/services/SquareService.SquareServiceHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SquareServiceHttpsSoap12Endpoint" binding="ns:SquareServiceSoap12Binding">
            <soap12:address location="https://10.0.0.112:9445/services/SquareService.SquareServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SquareServiceHttpsEndpoint" binding="ns:SquareServiceHttpBinding">
            <http:address location="https://10.0.0.112:9445/services/SquareService.SquareServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="SquareServiceHttpEndpoint" binding="ns:SquareServiceHttpBinding">
            <http:address location="http://10.0.0.112:9765/services/SquareService.SquareServiceHttpEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>